﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/app.css" rel="stylesheet" type="text/css" />
</head>
<body id="dashboard">
    <div id="container">
        @* Header *@
        <div id="header">
            <div id="logo"><a href="/" class="img"></a></div>
            <span>Sunoco&nbsp;&nbsp;&nbsp;&nbsp;<i style="font-size:60%;">Test Apps</i></span>
        </div>

        @*Subheader*@
        <div id="subheader">
            <div id="subheader-left"></div>
            <div id="subheader-right">
                <span>@ViewBag.Menu</span>
            </div>
        </div>
        <div style="height: 4px; background: #808080;"></div>

        @*Body*@
        <div id="main-body">
            <table>
                <tr>
                    <td>
                        @*Menu*@
                        <div id="menu">
                            <div id="navcontainer">
                                <ui id="navlist">
                                    @*Home*@
                                    <li><a class="@(ViewBag.Menu == "Home" ? "selected" : "")" href="/">Home</a></li>

                                    @*Sections*@
                                    <li><a class="@(ViewBag.Menu == "DashboardHQ" ? "selected" : "")" href="/DashboardHQ">Dashboard</a></li>
                                    <li><a class="@(ViewBag.Menu == "KPICategoryAdmin" ? "selected" : "")" href="/KPICategoryAdmin">KPI Category</a></li>
                                    <li><a class="@(ViewBag.Menu == "KPIAdmin" ? "selected" : "")" href="/KPIAdmin">KPIs</a></li>
                                    <li><a class="@(ViewBag.Menu == "Chart" ? "selected": "")" href="/Chart">KPI Charts</a></li>

                                </ui>
                            </div>
                        </div>
                    </td>
                    <td>
                        @*Content*@
                        @RenderSection("featured", required: false)
                        <section class="content-wrapper main-content clear-fix">
                            @RenderBody()
                        </section>

                    </td>
                </tr>
            </table>

        </div>

        
    </div>
    <!--<script src="~/scripts/jquery-1.8.2.min.js" type="text/javascript"></script>-->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
