﻿@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>Features with over 60 KPIs report
            </p>
        </div>
    </section>
}
<h3></h3>
<ol class="round">
    <li class="one">
        <h5>Sections/Categories</h5>
        <a href="/">View KPIs by Section/Category</a>
    </li>

    <li class="two">
        <h5>Location</h5>
        <a href="/">View KPIs by location</a>
    </li>

    <li class="three">
        <h5>Chart</h5>
        <a href="/">KPIs chart</a>
    </li>
</ol>
